# Imports

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
os.chdir('../data')
!ls

javie_filtered_cols.csv  ukb43673_74cols_1yr.csv
og_columns.txt		 ukb43673_74cols_6mo.csv
ukb43673.csv		 ukb43673_76cols_1yr.csv
ukb43673_72cols.csv	 ukb_response_impute_ref_stats_group_ds3.csv
ukb43673_74cols.csv

# load a list of columns to keep

In [3]:
df_features = pd.read_csv('javie_filtered_cols.csv')

In [5]:
df_features.columns

Index(['questionnaire', 'code', 'UDI', 'meaning', 'class', 'type', 'question'], dtype='object')

In [6]:
df_features.shape

(49, 7)

In [17]:
cols_keep = df_features['UDI']
    # a list of all the featureID's we are going to keep
    
cols_keep_list = cols_keep.tolist()
 
# add the 4 date columns
cols_keep_list.extend(['21023-0.0','20400-0.0','53-2.0','53-3.0'])

# add the 3 demographic columns
cols_keep_list.extend(['21003-2.0','21003-3.0','31-0.0'])

# add the patient id column
cols_keep_list.append('eid')

cols_keep_list.sort()

In [18]:
# df_og = pd.read_csv('ukb43673.csv')
    #still can't do this, have to do it in chunks

In [11]:
for chunk in pd.read_csv('ukb43673.csv', 
                         chunksize=10, 
                         iterator=True):
    df_1 = chunk
    break;
    
i=0
for chunk in pd.read_csv('ukb43673.csv', 
                         chunksize=10, 
                         iterator=True):
    df_2 = chunk
    i+=1
    if i==2: break

In [12]:
df_1

,eid,31-0.0,34-0.0,52-0.0,53-0.0,53-1.0,53-2.0,53-3.0,54-0.0,54-1.0,...,41218-0.0,41218-0.1,41218-0.2,41218-0.3,41218-0.4,105010-0.0,105010-1.0,105010-2.0,105010-3.0,105010-4.0
0,1000014,1,1944,9,2009-11-24,NaN,NaN,NaN,11018,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000023,1,1952,3,2010-05-04,NaN,NaN,NaN,11018,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000030,0,1947,2,2008-06-09,NaN,NaN,NaN,11008,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000041,0,1960,6,2008-04-03,NaN,NaN,NaN,11006,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000059,0,1963,11,2007-12-05,NaN,NaN,NaN,11005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000062,0,1956,7,2008-04-21,NaN,2014-11-28,NaN,11010,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-07-21T08:53:53,2011-11-08T12:13:03,2012-05-11T12:10:59
6,1000077,0,1941,4,2009-07-23,NaN,NaN,NaN,11013,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1000086,1,1945,5,2008-09-09,NaN,NaN,NaN,11012,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1000095,0,1944,10,2008-05-30,NaN,NaN,NaN,11005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1000100,0,1943,4,2010-04-16,2013-01-27,NaN,NaN,11014,11024.0,...,NaN,NaN,NaN,NaN,NaN,2010-04-16T10:45:36,2011-03-29T09:59:19,2011-08-28T14:53:34,2011-11-24T00:45:02,NaN

In [13]:
df_2

,eid,31-0.0,34-0.0,52-0.0,53-0.0,53-1.0,53-2.0,53-3.0,54-0.0,54-1.0,...,41218-0.0,41218-0.1,41218-0.2,41218-0.3,41218-0.4,105010-0.0,105010-1.0,105010-2.0,105010-3.0,105010-4.0
10,1000113,0,1951,10,2009-05-01,NaN,NaN,NaN,11011,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,2011-03-13T17:19:01,NaN,NaN,NaN
11,1000124,1,1963,7,2010-05-28,NaN,NaN,NaN,11021,NaN,...,NaN,NaN,NaN,NaN,NaN,2010-05-28T12:00:47,NaN,NaN,NaN,NaN
12,1000138,1,1958,1,2009-09-23,NaN,NaN,NaN,11017,NaN,...,8.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1000146,1,1950,1,2010-01-07,NaN,NaN,NaN,11017,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-05-11T08:35:48
14,1000152,0,1947,3,2008-10-22,NaN,NaN,NaN,11013,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,2011-04-11T12:12:58,2011-08-20T11:23:04,NaN,2012-06-09T11:20:28
15,1000169,1,1955,5,2010-03-23,NaN,NaN,NaN,11021,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1000175,0,1964,6,2008-09-06,NaN,NaN,NaN,11011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1000181,0,1942,2,2008-10-29,2012-11-27,NaN,NaN,11008,11024.0,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-06-12T10:23:54
18,1000197,0,1949,5,2007-12-05,NaN,2018-07-20,NaN,11001,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1000202,0,1947,10,2008-08-11,NaN,NaN,NaN,11009,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_1 = pd.concat([df_1, df_2])
df_1

,eid,31-0.0,34-0.0,52-0.0,53-0.0,53-1.0,53-2.0,53-3.0,54-0.0,54-1.0,...,41218-0.0,41218-0.1,41218-0.2,41218-0.3,41218-0.4,105010-0.0,105010-1.0,105010-2.0,105010-3.0,105010-4.0
0,1000014,1,1944,9,2009-11-24,NaN,NaN,NaN,11018,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000023,1,1952,3,2010-05-04,NaN,NaN,NaN,11018,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000030,0,1947,2,2008-06-09,NaN,NaN,NaN,11008,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000041,0,1960,6,2008-04-03,NaN,NaN,NaN,11006,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000059,0,1963,11,2007-12-05,NaN,NaN,NaN,11005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000062,0,1956,7,2008-04-21,NaN,2014-11-28,NaN,11010,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-07-21T08:53:53,2011-11-08T12:13:03,2012-05-11T12:10:59
6,1000077,0,1941,4,2009-07-23,NaN,NaN,NaN,11013,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1000086,1,1945,5,2008-09-09,NaN,NaN,NaN,11012,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1000095,0,1944,10,2008-05-30,NaN,NaN,NaN,11005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1000100,0,1943,4,2010-04-16,2013-01-27,NaN,NaN,11014,11024.0,...,NaN,NaN,NaN,NaN,NaN,2010-04-16T10:45:36,2011-03-29T09:59:19,2011-08-28T14:53:34,2011-11-24T00:45:02,NaN
10,1000113,0,1951,10,2009-05-01,NaN,NaN,NaN,11011,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,2011-03-13T17:19:01,NaN,NaN,NaN
11,1000124,1,1963,7,2010-05-28,NaN,NaN,NaN,11021,NaN,...,NaN,NaN,NaN,NaN,NaN,2010-05-28T12:00:47,NaN,NaN,NaN,NaN
12,1000138,1,1958,1,2009-09-23,NaN,NaN,NaN,11017,NaN,...,8.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1000146,1,1950,1,2010-01-07,NaN,NaN,NaN,11017,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-05-11T08:35:48
14,1000152,0,1947,3,2008-10-22,NaN,NaN,NaN,11013,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,2011-04-11T12:12:58,2011-08-20T11:23:04,NaN,2012-06-09T11:20:28
15,1000169,1,1955,5,2010-03-23,NaN,NaN,NaN,11021,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1000175,0,1964,6,2008-09-06,NaN,NaN,NaN,11011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1000181,0,1942,2,2008-10-29,2012-11-27,NaN,NaN,11008,11024.0,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012-06-12T10:23:54
18,1000197,0,1949,5,2007-12-05,NaN,2018-07-20,NaN,11001,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1000202,0,1947,10,2008-08-11,NaN,NaN,NaN,11009,NaN,...,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# filter columns in chunks, then append all together
chunksize = 2000
i = 0
for chunk in pd.read_csv('ukb43673.csv', 
                         chunksize=chunksize, 
                         iterator=True):
    if i == 0:
        df_keep = chunk.loc[:,chunk.columns.isin(cols_keep_list)]
        print("created dataframe")
    else:
        df_keep = pd.concat([df_keep, chunk.loc[:,chunk.columns.isin(cols_keep_list)]], 
                            axis=0)
        print(i, " :appended dataframe")
    i+=1

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,12,1092,1094,1096,1098,1105,1107,1109,1307,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

created dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,1092,1094,1096,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

1  :appended dataframe
2  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,12,1092,1094,1096,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

3  :appended dataframe
4  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

5  :appended dataframe
6  :appended dataframe
7  :appended dataframe
8  :appended dataframe
9  :appended dataframe
10  :appended dataframe
11  :appended dataframe
12  :appended dataframe
13  :appended dataframe
14  :appended dataframe
15  :appended dataframe
16  :appended dataframe
17  :appended dataframe
18  :appended dataframe
19  :appended dataframe
20  :appended dataframe
21  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,12,1092,1094,1096,1098,1105,1107,1109,1307,2503,2505,2507,2509,2511,2513,2515,2517,2519,2830) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

22  :appended dataframe
23  :appended dataframe
24  :appended dataframe
25  :appended dataframe
26  :appended dataframe
27  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1098,1105,1107,1109,1307,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

28  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1098,1105,1107,1109,1307,2503,2505,2507,2509,2511,2513,2515,2517,2519,2830) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

29  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,12,1092,1094,1096,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519,2830) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

30  :appended dataframe
31  :appended dataframe
32  :appended dataframe
33  :appended dataframe
34  :appended dataframe
35  :appended dataframe
36  :appended dataframe
37  :appended dataframe
38  :appended dataframe
39  :appended dataframe
40  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1092,1098,1105,1107,1109,1307,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

41  :appended dataframe
42  :appended dataframe
43  :appended dataframe
44  :appended dataframe
45  :appended dataframe
46  :appended dataframe
47  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1092,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

48  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519,2830) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

49  :appended dataframe
50  :appended dataframe
51  :appended dataframe
52  :appended dataframe
53  :appended dataframe
54  :appended dataframe
55  :appended dataframe
56  :appended dataframe
57  :appended dataframe
58  :appended dataframe
59  :appended dataframe
60  :appended dataframe
61  :appended dataframe
62  :appended dataframe
63  :appended dataframe
64  :appended dataframe
65  :appended dataframe
66  :appended dataframe
67  :appended dataframe
68  :appended dataframe
69  :appended dataframe
70  :appended dataframe
71  :appended dataframe
72  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,12,1092,1094,1096,1098,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

73  :appended dataframe
74  :appended dataframe
75  :appended dataframe
76  :appended dataframe
77  :appended dataframe
78  :appended dataframe
79  :appended dataframe
80  :appended dataframe
81  :appended dataframe
82  :appended dataframe
83  :appended dataframe
84  :appended dataframe
85  :appended dataframe
86  :appended dataframe
87  :appended dataframe
88  :appended dataframe
89  :appended dataframe
90  :appended dataframe
91  :appended dataframe
92  :appended dataframe
93  :appended dataframe
94  :appended dataframe
95  :appended dataframe
96  :appended dataframe
97  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1092,1094,1096,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519,2830) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

98  :appended dataframe
99  :appended dataframe
100  :appended dataframe
101  :appended dataframe
102  :appended dataframe
103  :appended dataframe
104  :appended dataframe
105  :appended dataframe
106  :appended dataframe
107  :appended dataframe
108  :appended dataframe
109  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,12,1092,1094,1096,1098,1105,1107,1109,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

110  :appended dataframe
111  :appended dataframe
112  :appended dataframe
113  :appended dataframe
114  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1092,1094,1096,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

115  :appended dataframe
116  :appended dataframe
117  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1092,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519,2830) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

118  :appended dataframe
119  :appended dataframe
120  :appended dataframe
121  :appended dataframe
122  :appended dataframe
123  :appended dataframe
124  :appended dataframe
125  :appended dataframe
126  :appended dataframe
127  :appended dataframe
128  :appended dataframe
129  :appended dataframe
130  :appended dataframe
131  :appended dataframe
132  :appended dataframe
133  :appended dataframe
134  :appended dataframe
135  :appended dataframe
136  :appended dataframe
137  :appended dataframe
138  :appended dataframe
139  :appended dataframe
140  :appended dataframe
141  :appended dataframe
142  :appended dataframe
143  :appended dataframe
144  :appended dataframe
145  :appended dataframe
146  :appended dataframe
147  :appended dataframe
148  :appended dataframe
149  :appended dataframe
150  :appended dataframe
151  :appended dataframe
152  :appended dataframe
153  :appended dataframe
154  :appended dataframe
155  :appended dataframe
156  :appended dataframe
157  :appended dataframe
158  :appended dataframe
159  :appended dataframe
160  :appended dataframe
161  :appended dataframe
162  :appended dataframe
163  :appended dataframe
164  :appended dataframe
165  :appended dataframe
166  :appended dataframe
167  :appended dataframe
168  :appended dataframe
169  :appended dataframe
170  :appended dataframe
171  :appended dataframe
172  :appended dataframe
173  :appended dataframe
174  :appended dataframe
175  :appended dataframe
176  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1092,1094,1098,1105,1107,1109,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

177  :appended dataframe
178  :appended dataframe
179  :appended dataframe
180  :appended dataframe
181  :appended dataframe
182  :appended dataframe
183  :appended dataframe
184  :appended dataframe
185  :appended dataframe
186  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1092,1094,1096,1098,1105,1107,1109,1307,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

187  :appended dataframe
188  :appended dataframe
189  :appended dataframe
190  :appended dataframe
191  :appended dataframe
192  :appended dataframe
193  :appended dataframe
194  :appended dataframe
195  :appended dataframe
196  :appended dataframe
197  :appended dataframe
198  :appended dataframe
199  :appended dataframe
200  :appended dataframe
201  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (7,12,1092,1094,1096,1098,1107,1109,1307,2503,2505,2507,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

202  :appended dataframe
203  :appended dataframe
204  :appended dataframe
205  :appended dataframe
206  :appended dataframe
207  :appended dataframe
208  :appended dataframe
209  :appended dataframe
210  :appended dataframe
211  :appended dataframe
212  :appended dataframe
213  :appended dataframe
214  :appended dataframe
215  :appended dataframe
216  :appended dataframe
217  :appended dataframe
218  :appended dataframe
219  :appended dataframe
220  :appended dataframe
221  :appended dataframe
222  :appended dataframe
223  :appended dataframe
224  :appended dataframe
225  :appended dataframe
226  :appended dataframe
227  :appended dataframe
228  :appended dataframe
229  :appended dataframe
230  :appended dataframe
231  :appended dataframe
232  :appended dataframe
233  :appended dataframe
234  :appended dataframe
235  :appended dataframe
236  :appended dataframe
237  :appended dataframe
238  :appended dataframe
239  :appended dataframe
240  :appended dataframe
241  :appended dataframe
242  :appended dataframe
243  :appended dataframe
244  :appended dataframe
245  :appended dataframe
246  :appended dataframe
247  :appended dataframe
248  :appended dataframe
249  :appended dataframe
250  :appended dataframe

/share/apps/python/3.8.6/intel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (12,1098,1105,1107,1109,2509,2511,2513,2515,2517,2519) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

251  :appended dataframe

In [26]:
df_keep

,eid,31-0.0,53-2.0,53-3.0,20400-0.0,20458-0.0,20459-0.0,20460-0.0,20479-0.0,20485-0.0,...,21052-0.0,21053-0.0,21054-0.0,21055-0.0,21056-0.0,21057-0.0,21058-0.0,21059-0.0,21060-0.0,21061-0.0
0,1000014,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000023,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000030,0.0,NaN,NaN,2016-08-26,2.0,3.0,4.0,1.0,1.0,...,-600.0,-600.0,-600.0,-600.0,-600.0,-313.0,-600.0,-600.0,-601.0,-600.0
3,1000041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000059,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-600.0,-600.0,-600.0,-600.0,-600.0,-313.0,-600.0,-600.0,-601.0,-601.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502488,6025017,0.0,NaN,NaN,2016-10-10,2.0,3.0,4.0,0.0,0.0,...,-600.0,-600.0,-600.0,-601.0,-602.0,-313.0,-601.0,-600.0,-602.0,-601.0
502489,6025022,0.0,2020-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502490,6025036,0.0,NaN,NaN,2016-08-22,2.0,3.0,4.0,0.0,0.0,...,-600.0,-601.0,-601.0,-601.0,-600.0,-600.0,-600.0,-600.0,-600.0,-600.0
502491,6025045,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502492,6025058,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# df_keep = df_og.loc[:,df_og.columns.isin(cols_keep)]

In [28]:
# check
df_kept_cols = df_keep.columns.tolist()
df_kept_cols.sort()

df_kept_cols == cols_keep_list

True

In [29]:
df_keep.to_csv('ukb43673_57cols.csv')

In [30]:
!ls

javie_filtered_cols.csv  ukb43673_74cols.csv
og_columns.txt		 ukb43673_74cols_1yr.csv
ukb43673.csv		 ukb43673_74cols_6mo.csv
ukb43673_57cols.csv	 ukb43673_76cols_1yr.csv
ukb43673_72cols.csv	 ukb_response_impute_ref_stats_group_ds3.csv