# Imports

In [1]:
import numpy as np
import pandas as pd
import os
from dateutil.relativedelta import relativedelta
import datetime

In [2]:
os.chdir('../data')
!ls

javie_filtered_cols.csv  ukb43673_74cols.csv
og_columns.txt		 ukb43673_74cols_1yr.csv
ukb43673.csv		 ukb43673_74cols_6mo.csv
ukb43673_57cols.csv	 ukb43673_76cols_1yr.csv
ukb43673_72cols.csv	 ukb_response_impute_ref_stats_group_ds3.csv

# load data with filtered features

from `data_col_filter_whole.ipynb`

In [3]:
# df_og = pd.read_csv('ukb43673_72cols.csv')
df_og = pd.read_csv('ukb43673_57cols.csv')

In [4]:
print(df_og.columns)

Index(['Unnamed: 0', 'eid', '31-0.0', '53-2.0', '53-3.0', '20400-0.0',
       '20458-0.0', '20459-0.0', '20460-0.0', '20479-0.0', '20485-0.0',
       '20494-0.0', '20495-0.0', '20496-0.0', '20497-0.0', '20498-0.0',
       '20505-0.0', '20506-0.0', '20507-0.0', '20508-0.0', '20509-0.0',
       '20510-0.0', '20511-0.0', '20512-0.0', '20513-0.0', '20514-0.0',
       '20515-0.0', '20516-0.0', '20517-0.0', '20518-0.0', '20519-0.0',
       '20520-0.0', '21003-2.0', '21003-3.0', '21023-0.0', '21025-0.0',
       '21033-0.0', '21034-0.0', '21039-0.0', '21040-0.0', '21041-0.0',
       '21042-0.0', '21043-0.0', '21044-0.0', '21048-0.0', '21049-0.0',
       '21050-0.0', '21051-0.0', '21052-0.0', '21053-0.0', '21054-0.0',
       '21055-0.0', '21056-0.0', '21057-0.0', '21058-0.0', '21059-0.0',
       '21060-0.0', '21061-0.0'],
      dtype='object')

In [5]:
df_og = df_og.drop(['Unnamed: 0'], axis=1)
    # I forgot to save the dataframe without the indices, so they got saved as a column
    # we are now dropping that column
print(df_og.shape)

(502493, 57)

In [6]:
df_og

,eid,31-0.0,53-2.0,53-3.0,20400-0.0,20458-0.0,20459-0.0,20460-0.0,20479-0.0,20485-0.0,...,21052-0.0,21053-0.0,21054-0.0,21055-0.0,21056-0.0,21057-0.0,21058-0.0,21059-0.0,21060-0.0,21061-0.0
0,1000014,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000023,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000030,0.0,NaN,NaN,2016-08-26,2.0,3.0,4.0,1.0,1.0,...,-600.0,-600.0,-600.0,-600.0,-600.0,-313.0,-600.0,-600.0,-601.0,-600.0
3,1000041,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000059,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-600.0,-600.0,-600.0,-600.0,-600.0,-313.0,-600.0,-600.0,-601.0,-601.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502488,6025017,0.0,NaN,NaN,2016-10-10,2.0,3.0,4.0,0.0,0.0,...,-600.0,-600.0,-600.0,-601.0,-602.0,-313.0,-601.0,-600.0,-602.0,-601.0
502489,6025022,0.0,2020-03-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502490,6025036,0.0,NaN,NaN,2016-08-22,2.0,3.0,4.0,0.0,0.0,...,-600.0,-601.0,-601.0,-601.0,-600.0,-600.0,-600.0,-600.0,-600.0,-600.0
502491,6025045,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502492,6025058,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_og.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502493 entries, 0 to 502492
Data columns (total 57 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   eid        502493 non-null  int64
 1   31-0.0     502492 non-null  float64
 2   53-2.0     49001 non-null   object
 3   53-3.0     3209 non-null    object
 4   20400-0.0  157371 non-null  object
 5   20458-0.0  157340 non-null  float64
 6   20459-0.0  157340 non-null  float64
 7   20460-0.0  157340 non-null  float64
 8   20479-0.0  157340 non-null  float64
 9   20485-0.0  157340 non-null  float64
 10  20494-0.0  71186 non-null   float64
 11  20495-0.0  157340 non-null  float64
 12  20496-0.0  71186 non-null   float64
 13  20497-0.0  157340 non-null  float64
 14  20498-0.0  157340 non-null  float64
 15  20505-0.0  157340 non-null  float64
 16  20506-0.0  157340 non-null  float64
 17  20507-0.0  157340 non-null  float64
 18  20508-0.0  157340 non-null  float64
 19  20509-0.0  157340 non-null  float64
 20  20510-0.0  157340 non-null  float64
 21  20511-0.0  157340 non-null  float64
 22  20512-0.0  157340 non-null  float64
 23  20513-0.0  157340 non-null  float64
 24  20514-0.0  157340 non-null  float64
 25  20515-0.0  157340 non-null  float64
 26  20516-0.0  157340 non-null  float64
 27  20517-0.0  157340 non-null  float64
 28  20518-0.0  157340 non-null  float64
 29  20519-0.0  157340 non-null  float64
 30  20520-0.0  157340 non-null  float64
 31  21003-2.0  49001 non-null   float64
 32  21003-3.0  3209 non-null    float64
 33  21023-0.0  174759 non-null  object
 34  21025-0.0  174759 non-null  float64
 35  21033-0.0  174759 non-null  float64
 36  21034-0.0  174759 non-null  float64
 37  21039-0.0  40664 non-null   float64
 38  21040-0.0  174759 non-null  float64
 39  21041-0.0  174759 non-null  float64
 40  21042-0.0  174759 non-null  float64
 41  21043-0.0  174759 non-null  float64
 42  21044-0.0  174759 non-null  float64
 43  21048-0.0  174759 non-null  float64
 44  21049-0.0  174759 non-null  float64
 45  21050-0.0  99282 non-null   float64
 46  21051-0.0  174759 non-null  float64
 47  21052-0.0  174759 non-null  float64
 48  21053-0.0  174759 non-null  float64
 49  21054-0.0  174759 non-null  float64
 50  21055-0.0  174759 non-null  float64
 51  21056-0.0  174759 non-null  float64
 52  21057-0.0  174759 non-null  float64
 53  21058-0.0  174759 non-null  float64
 54  21059-0.0  174759 non-null  float64
 55  21060-0.0  174759 non-null  float64
 56  21061-0.0  174759 non-null  float64
dtypes: float64(52), int64(1), object(4)
memory usage: 218.5+ MB

In [8]:
df_og.isnull().sum()

eid               0
31-0.0            1
53-2.0       453492
53-3.0       499284
20400-0.0    345122
20458-0.0    345153
20459-0.0    345153
20460-0.0    345153
20479-0.0    345153
20485-0.0    345153
20494-0.0    431307
20495-0.0    345153
20496-0.0    431307
20497-0.0    345153
20498-0.0    345153
20505-0.0    345153
20506-0.0    345153
20507-0.0    345153
20508-0.0    345153
20509-0.0    345153
20510-0.0    345153
20511-0.0    345153
20512-0.0    345153
20513-0.0    345153
20514-0.0    345153
20515-0.0    345153
20516-0.0    345153
20517-0.0    345153
20518-0.0    345153
20519-0.0    345153
20520-0.0    345153
21003-2.0    453492
21003-3.0    499284
21023-0.0    327734
21025-0.0    327734
21033-0.0    327734
21034-0.0    327734
21039-0.0    461829
21040-0.0    327734
21041-0.0    327734
21042-0.0    327734
21043-0.0    327734
21044-0.0    327734
21048-0.0    327734
21049-0.0    327734
21050-0.0    403211
21051-0.0    327734
21052-0.0    327734
21053-0.0    327734
21054-0.0    327734
21055-0.0    327734
21056-0.0    327734
21057-0.0    327734
21058-0.0    327734
21059-0.0    327734
21060-0.0    327734
21061-0.0    327734
dtype: int64

In [9]:
# get the date within 1 year

# first, change all date columns to datetime objects

df_og['53-2.0'] = pd.to_datetime(df_og['53-2.0'])
    # date of attending assessment center 2
df_og['53-3.0'] = pd.to_datetime(df_og['53-3.0'])
    # date of attending assessment center 2
df_og['20400-0.0'] = pd.to_datetime(df_og['20400-0.0'])
    # date of completing mental health questionnaire
df_og['21023-0.0'] = pd.to_datetime(df_og['21023-0.0'])
    # date of completing digestive health questionnair

In [12]:
df_og['53-2.0']

0               NaT
1               NaT
2               NaT
3               NaT
4               NaT
            ...
502488          NaT
502489   2020-03-10
502490          NaT
502491          NaT
502492          NaT
Name: 53-2.0, Length: 502493, dtype: datetime64[ns]

In [13]:
df_og['20400-0.0']

0               NaT
1               NaT
2        2016-08-26
3               NaT
4               NaT
            ...
502488   2016-10-10
502489          NaT
502490   2016-08-22
502491          NaT
502492          NaT
Name: 20400-0.0, Length: 502493, dtype: datetime64[ns]

In [14]:
df_og['21023-0.0']
    # so this datetime object included the hr/min/sec time, unlike the above

0                        NaT
1                        NaT
2        2017-05-08 19:11:53
3                        NaT
4        2017-12-05 18:37:16
                 ...
502488   2017-04-19 08:07:06
502489                   NaT
502490   2017-05-03 08:55:26
502491                   NaT
502492                   NaT
Name: 21023-0.0, Length: 502493, dtype: datetime64[ns]

In [15]:
# drop the time component and only keep the day component
df_og['21023-0.0'] = pd.to_datetime(df_og['21023-0.0'].apply(lambda x: x.date()))

In [16]:
df_og['21023-0.0']

0               NaT
1               NaT
2        2017-05-08
3               NaT
4        2017-12-05
            ...
502488   2017-04-19
502489          NaT
502490   2017-05-03
502491          NaT
502492          NaT
Name: 21023-0.0, Length: 502493, dtype: datetime64[ns]

In [17]:
# grab the series that is the difference of the two dates
# and grab only those that are less than 365 days (1 yr)
(df_og['53-2.0'] - df_og['20400-0.0'])[df_og['53-2.0'] - df_og['20400-0.0'] < pd.Timedelta(365,'D')]
    # but negative days larger than 1 yr were not filtered out

26       -838 days
28       -205 days
98        328 days
135       320 days
195      -756 days
            ...
502338   -597 days
502345   -310 days
502363    305 days
502468     20 days
502481   -402 days
Length: 13629, dtype: timedelta64[ns]

In [18]:
# create 2 columns for both time lapse for both questionnaire to center 2
df_og['center2_time_lapse1'] = df_og['53-2.0'] - df_og['20400-0.0']
df_og['center2_time_lapse2'] = df_og['53-2.0'] - df_og['21023-0.0']

# create 2 columns for both time lapse for both questionnaire to center 3
df_og['center3_time_lapse1'] = df_og['53-3.0'] - df_og['20400-0.0']
df_og['center3_time_lapse2'] = df_og['53-3.0'] - df_og['21023-0.0']

df_og

,eid,31-0.0,53-2.0,53-3.0,20400-0.0,20458-0.0,20459-0.0,20460-0.0,20479-0.0,20485-0.0,...,21056-0.0,21057-0.0,21058-0.0,21059-0.0,21060-0.0,21061-0.0,center2_time_lapse1,center2_time_lapse2,center3_time_lapse1,center3_time_lapse2
0,1000014,1.0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT
1,1000023,1.0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT
2,1000030,0.0,NaT,NaT,2016-08-26,2.0,3.0,4.0,1.0,1.0,...,-600.0,-313.0,-600.0,-600.0,-601.0,-600.0,NaT,NaT,NaT,NaT
3,1000041,0.0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT
4,1000059,0.0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,-600.0,-313.0,-600.0,-600.0,-601.0,-601.0,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502488,6025017,0.0,NaT,NaT,2016-10-10,2.0,3.0,4.0,0.0,0.0,...,-602.0,-313.0,-601.0,-600.0,-602.0,-601.0,NaT,NaT,NaT,NaT
502489,6025022,0.0,2020-03-10,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT
502490,6025036,0.0,NaT,NaT,2016-08-22,2.0,3.0,4.0,0.0,0.0,...,-600.0,-600.0,-600.0,-600.0,-600.0,-600.0,NaT,NaT,NaT,NaT
502491,6025045,0.0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT
502492,6025058,0.0,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaT

In [19]:
# we will just worry about the time lapse with center 2 for now

# get first lapse -365<...<365
df_og_1yr = df_og[df_og['center2_time_lapse1'] < pd.Timedelta(365,'D')].copy()
df_og_1yr = df_og_1yr[df_og_1yr['center2_time_lapse1'] > pd.Timedelta(-365,'D')]

# get second lapse -365<...<365
df_og_1yr = df_og_1yr[df_og_1yr['center2_time_lapse2'] < pd.Timedelta(365,'D')]
df_og_1yr = df_og_1yr[df_og_1yr['center2_time_lapse2'] > pd.Timedelta(-365,'D')]

df_og_1yr

,eid,31-0.0,53-2.0,53-3.0,20400-0.0,20458-0.0,20459-0.0,20460-0.0,20479-0.0,20485-0.0,...,21056-0.0,21057-0.0,21058-0.0,21059-0.0,21060-0.0,21061-0.0,center2_time_lapse1,center2_time_lapse2,center3_time_lapse1,center3_time_lapse2
98,1000993,1.0,2017-06-21,2019-10-14,2016-07-28,2.0,2.0,4.0,0.0,0.0,...,-600.0,-600.0,-601.0,-600.0,-601.0,-601.0,328 days,71 days,1173 days,916 days
135,1001367,1.0,2017-08-16,NaT,2016-09-30,2.0,2.0,4.0,0.0,0.0,...,-600.0,-600.0,-600.0,-600.0,-600.0,-600.0,320 days,-8 days,NaT,NaT
310,1003110,1.0,2016-05-25,NaT,2016-08-18,2.0,3.0,3.0,2.0,1.0,...,-600.0,-600.0,-600.0,-600.0,-600.0,-601.0,-85 days,-338 days,NaT,NaT
365,1003668,1.0,2017-02-15,2019-10-08,2016-09-13,3.0,3.0,-121.0,0.0,0.0,...,-600.0,-601.0,-600.0,-600.0,-600.0,-601.0,155 days,-85 days,1120 days,880 days
381,1003823,1.0,2016-05-31,NaT,2016-08-24,2.0,1.0,4.0,0.0,0.0,...,-600.0,-600.0,-600.0,-600.0,-601.0,-601.0,-85 days,-339 days,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502098,6021110,1.0,2016-07-25,NaT,2016-08-19,3.0,3.0,3.0,0.0,0.0,...,-600.0,-313.0,-600.0,-600.0,-600.0,-600.0,-25 days,-283 days,NaT,NaT
502230,6022430,1.0,2016-12-18,NaT,2016-12-12,1.0,2.0,5.0,1.0,0.0,...,-600.0,-600.0,-602.0,-600.0,-600.0,-601.0,6 days,-131 days,NaT,NaT
502277,6022902,1.0,2017-09-09,NaT,2016-09-22,2.0,2.0,4.0,0.0,0.0,...,-600.0,-600.0,-601.0,-600.0,-600.0,-600.0,352 days,112 days,NaT,NaT
502363,6023768,0.0,2017-06-18,NaT,2016-08-17,2.0,2.0,4.0,0.0,0.0,...,-600.0,-600.0,-600.0,-600.0,-601.0,-601.0,305 days,53 days,NaT,NaT
502468,6024813,0.0,2016-09-12,NaT,2016-08-23,3.0,3.0,4.0,0.0,0.0,...,-600.0,-313.0,-600.0,-600.0,-601.0,-600.0,20 days,-228 days,NaT,NaT

In [20]:
df_og_1yr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6287 entries, 98 to 502468
Data columns (total 61 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   eid                  6287 non-null   int64
 1   31-0.0               6287 non-null   float64
 2   53-2.0               6287 non-null   datetime64[ns]
 3   53-3.0               1520 non-null   datetime64[ns]
 4   20400-0.0            6287 non-null   datetime64[ns]
 5   20458-0.0            6286 non-null   float64
 6   20459-0.0            6286 non-null   float64
 7   20460-0.0            6286 non-null   float64
 8   20479-0.0            6286 non-null   float64
 9   20485-0.0            6286 non-null   float64
 10  20494-0.0            2685 non-null   float64
 11  20495-0.0            6286 non-null   float64
 12  20496-0.0            2685 non-null   float64
 13  20497-0.0            6286 non-null   float64
 14  20498-0.0            6286 non-null   float64
 15  20505-0.0            6286 non-null   float64
 16  20506-0.0            6286 non-null   float64
 17  20507-0.0            6286 non-null   float64
 18  20508-0.0            6286 non-null   float64
 19  20509-0.0            6286 non-null   float64
 20  20510-0.0            6286 non-null   float64
 21  20511-0.0            6286 non-null   float64
 22  20512-0.0            6286 non-null   float64
 23  20513-0.0            6286 non-null   float64
 24  20514-0.0            6286 non-null   float64
 25  20515-0.0            6286 non-null   float64
 26  20516-0.0            6286 non-null   float64
 27  20517-0.0            6286 non-null   float64
 28  20518-0.0            6286 non-null   float64
 29  20519-0.0            6286 non-null   float64
 30  20520-0.0            6286 non-null   float64
 31  21003-2.0            6287 non-null   float64
 32  21003-3.0            1520 non-null   float64
 33  21023-0.0            6287 non-null   datetime64[ns]
 34  21025-0.0            6287 non-null   float64
 35  21033-0.0            6287 non-null   float64
 36  21034-0.0            6287 non-null   float64
 37  21039-0.0            1352 non-null   float64
 38  21040-0.0            6287 non-null   float64
 39  21041-0.0            6287 non-null   float64
 40  21042-0.0            6287 non-null   float64
 41  21043-0.0            6287 non-null   float64
 42  21044-0.0            6287 non-null   float64
 43  21048-0.0            6287 non-null   float64
 44  21049-0.0            6287 non-null   float64
 45  21050-0.0            3331 non-null   float64
 46  21051-0.0            6287 non-null   float64
 47  21052-0.0            6287 non-null   float64
 48  21053-0.0            6287 non-null   float64
 49  21054-0.0            6287 non-null   float64
 50  21055-0.0            6287 non-null   float64
 51  21056-0.0            6287 non-null   float64
 52  21057-0.0            6287 non-null   float64
 53  21058-0.0            6287 non-null   float64
 54  21059-0.0            6287 non-null   float64
 55  21060-0.0            6287 non-null   float64
 56  21061-0.0            6287 non-null   float64
 57  center2_time_lapse1  6287 non-null   timedelta64[ns]
 58  center2_time_lapse2  6287 non-null   timedelta64[ns]
 59  center3_time_lapse1  1520 non-null   timedelta64[ns]
 60  center3_time_lapse2  1520 non-null   timedelta64[ns]
dtypes: datetime64[ns](4), float64(52), int64(1), timedelta64[ns](4)
memory usage: 3.0 MB

In [21]:
df_og_1yr.isnull().sum()

eid                       0
31-0.0                    0
53-2.0                    0
53-3.0                 4767
20400-0.0                 0
                       ...
21061-0.0                 0
center2_time_lapse1       0
center2_time_lapse2       0
center3_time_lapse1    4767
center3_time_lapse2    4767
Length: 61, dtype: int64

In [22]:
# df_og_1yr.to_csv('ukb43673_74cols_1yr.csv', index = False)
df_og_1yr.to_csv('ukb43673_61cols_1yr.csv', index = False)

In [23]:
!ls

javie_filtered_cols.csv  ukb43673_74cols.csv
og_columns.txt		 ukb43673_74cols_1yr.csv
ukb43673.csv		 ukb43673_74cols_6mo.csv
ukb43673_57cols.csv	 ukb43673_76cols_1yr.csv
ukb43673_61cols_1yr.csv  ukb_response_impute_ref_stats_group_ds3.csv
ukb43673_72cols.csv